*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d4a373;
    text-align: center;
}
.container{
    height: 70vh;
     display:flex;
    justify-content:center;
    align-items: center;
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
height: 18vmin;
width: 18vmin;
border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0, 0.1,0.3 ) ;
    font-size: 10vmin;
    color: brown;
    background-color: antiquewhite;
}
.reset{
    height: 8vmin;
    width: 18vmin;
    font-size: 2vmin;
    color:black;
    background-color: grey;
    font-size: large;
}

.new-btn{
 height: 8vmin;
    width: 18vmin;
    font-size: 2vmin;
    color:black;
    background-color: grey;
    font-size: large;
    
}
.msg-container{
    width:80vmin;
    display:flex;
  height: 10vmin;
    font-size: 5vmin;
    background-color: antiquewhite;
    color: black;
    
    justify-content: center;
    align-content: center;
}
.hide{
    display: none;
}